{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11"
        },
        "modules": false  // This ensures Babel outputs ESM
      }
    ]
    // TODO: Minify breaks IE 11
    // ["minify"]
  ]
}
